/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require jquery-ui
 */

 @import 'materialize';
 @import "font-awesome";
 @import "social-share-button";

 .card img {
    max-height: 300px;
    object-fit: cover;
}
.card img.materialized.active {
    max-height: none;
    object-fit: none;
}

.btn-large {
   margin-bottom: 15px;
 }

.brush {
  cursor: url('/paintbrush.svg') 2 38, pointer;
}

.color_picker a {
  cursor: url('/paintbrush.svg') 2 38, pointer;
  border: 7px solid transparent;
}

.social-share-button {
  .ssb-icon {
    background-size: 24px 24px;
    height: 24px;
    width: 24px;
  }
}
